<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note</title>
    <style>  
    @import url('https://rsms.me/inter/inter.css');

    body {
      font-family:'Inter', sans-serif;
    }

    table {
      width: 90%;
      margin: 0 auto;
      border-collapse: collapse;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    }
  
    th, td {
      padding: 0.75em 1em;
    }

    .table-header {
      background-color: #6c93ee;
      color: white;
      text-align: center;
    }
  
    .table-body {
      border-bottom: 1px solid #dddddd;
    }

    .table-body:hover {
      font-weight: bold;
      color: rgba(0, 136, 169, 0.7);
    }

    .table-body:last-of-type {
      border-bottom: 2px solid #6c93ee;
    }
    
    h1 {
      text-align: center;
      color: #6c93ee;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }

    li {
      float: left;
    }

    li:last-child {
      border-right: none;
    }

    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    li a:hover:not(.active) {
      background-color: black;
    }

    .active {
      background-color: #6c93ee;
    }
    </style>  
  </head>
  <body>
    <ul>
      <li><a class="active" href="http://localhost:8000/lab-4/">Home</a></li>
      <li><a href="http://localhost:8000/lab-4/add-note">Add</a></li>
      <li><a href="http://localhost:8000/lab-4/note-list">List</a></li>
    </ul>

    <h1>🐱 Notes Table 🐱</h1>

    <table>
    <tr class="table-header">
      <th>To</th>
      <th>From</th>
      <th>Title</th>
      <th>Message</th>
    </tr>
    {% for note in note %}
      <tr class="table-body">
          <td>{{note.To}}</td>
          <td>{{note.From}}</td>
          <td>{{note.Title}}</td>
          <td>{{note.Message}}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>