<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
  @import url('https://rsms.me/inter/inter.css');

  body {
    font-family:'Inter', sans-serif;
  }

  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }

  * {
    box-sizing: border-box;
  } 

  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Style the counter cards */
  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px;
    margin-bottom: 20px;
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .flip-card-front {
    background-color: #6c93ee;
    color: white;
  }

  .flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  li {
    float: left;
  }

  li:last-child {
    border-right: none;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover:not(.active) {
    background-color: black;
  }

  .active {
    background-color: #6c93ee;
  }

  h1 {
    text-align: center;
    color: #6c93ee;
  }
</style>
</head>

<body>
  <ul>
    <li><a href="http://localhost:8000/lab-4/">Home</a></li>
    <li><a href="http://localhost:8000/lab-4/add-note">Add</a></li>
    <li><a class="active" href="http://localhost:8000/lab-4/note-list">List</a></li>
  </ul>

  <h1>🍏 Note Cards 🍏</h1>

  <div class="row">
    {% for note in note %}
    <div class="column">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <h4>To: {{note.To}}</h4> 
            <h4>From: {{note.From}}</h4>
          </div>
          <div class="flip-card-back">
            <h4>{{note.Title}}</h4>
            <p>{{note.Message}}</p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</body>
</html> 