<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Note</title>
  <style>
    @import url('https://rsms.me/inter/inter.css');
  
    body {
      font-family:'Inter', sans-serif;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }

    h1 {
      color: #6c93ee;
    }

    li {
      float: left;
    }

    li:last-child {
      border-right: none;
    }

    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    li a:hover:not(.active) {
      background-color: black;
    }

    .active {
      background-color: #6c93ee;
    }
  </style>
</head>

<body>
  <ul>
    <li><a href="http://localhost:8000/lab-4/">Home</a></li>
    <li><a class="active" href="http://localhost:8000/lab-4/add-note">Add</a></li>
    <li><a href="http://localhost:8000/lab-4/note-list">List</a></li>
  </ul>
  
  <h1>🌟 Make New Note Here 🌟</h1>

  <form action= "" method="POST"> 
    {% csrf_token %}
    <style>
      legend {
        background-color: #455988;
        color: black;
        font-weight: bold;
        padding: 10px;
      }
      fieldset {
        background-color: #5881e0;
        color: white;
      }
      input {
        margin: 5px;
      }
      h1 {
        text-align: center;
      }
    </style>
  
    <fieldset>
    <legend style="color:white;">New Note:</legend>
    <label for="To">To:</label>
    <input type="text" id="To" name="To" required><br>
    <br>
    <label for="From">From:</label>
    <input type="text" id="From" name="From" required><br>
    <br>
    <label for="Title">Title:</label>
    <input type="text" id="Title" name="Title" required><br>
    <br>
    <label for="Message">Message:</label>
    <input type="text" id="Message" name="Message" required><br>
    <br>
    <input type="submit" value="Submit" required>
    </fieldset>
  </form>  
</body>
</html>