<!DOCTYPE html>
<html lang="en">
  <head>
    <title style="color:white">Friend List</title>
    <style>
        table, th, td {
          border: 2px solid black;
          border-collapse: collapse;
        }
        th, td { 
          padding: 5px; 
        }
        table.center {
          margin-left: auto; 
          margin-right: auto;
        }
        th {
          background-color: orange;
        }
        h1 {
          text-align: center;
        }
    </style>
    <h1>Daftar Teman</h1> 
    <meta charset="UTF-8" />
  </head>
  <body style="background-color: rgb(255, 253, 218);text-decoration-color: white;">
    <table class = "center" width = 75%>
      <tr>
        <th>Nama</th>
        <th>NPM</th>
        <th>Tanggal Lahir</th>
      </tr>
      <!-- TODO loop from Friend model -->
      <tr>      
        {% for friend in friends %}
        <td>{{friend.name}}</td>
        <td>{{friend.npm}}</td>
        <td>{{friend.dob}}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>