<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add Friend</title>
</head>
<body>
  <h1>Add New Friends Here</h1>
  <form action= "" method="POST"> 
    {% csrf_token %}
    <style>
      legend {
        background-color: gray;
        color: white;
        padding: 10px;
      }
      fieldset {
        background-color: gainsboro;
      }
      input {
        margin: 5px;
      }
      h1 {
        text-align: center;
      }
    </style>
  
    <fieldset>
    <legend>Add:</legend>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required><br>
    <br>
    <label for="npm">NPM:</label>
    <input type="text" id="npm" name="npm" required><br>
    <br>
    <label for="dob">Tanggal lahir:</label>
    <input type="date" id="date" name="dob" required><br>
    <br>
    <input type="submit" value="Submit" required>
    </fieldset>
  </form>  
</body>
</html>