<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note</title>
    <style>  
        table, td, th {  
        border: 1px solid black;  
        border-collapse: collapse;
        margin-left: 30px;
        }   
        th, td { 
        padding: 5px; }

        th {
          background-color: #3CAEA3;
        }
    </style>  
  </head>
  <body>
    <table width="500">
      <tr>
        <th>To:</th>
        <th>From:</th>
        <th>Title:</th>
        <th>Message:</th>
      </tr>
      <tr>
        {% for note in note %}
          <td>{{note.To}}</td>
          <td>{{note.From}}</td>
          <td>{{note.Title}}</td>
          <td>{{note.Message}}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>